/* ---------- Color Module Styles ----------- */


#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background: #fff;
}

.tabs ul.primary li a.is-active {
  background-color: #fff;
}

.tabs ul.primary li.is-active a {
  background-color: #fff;
  border-bottom-color: #fff;
}


#main {
  padding-top: 10px;
}

.site-footer {
  background: #E31837;
  padding: 10px 0 0 0;
  margin: 0;
}

.site-footer .content a {
  color: #FFF;
  font-family: yorkFont;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

#extra_footer {
  background-image: url('/themes/custom/york_drupal_theme/images/arrow.png');
  background-position-x: 100%;
  background-position-y: 220px;
  background-repeat: no-repeat;
  color: white;
  text-align: left;
  font-size: small;
}

@media (max-width: 575px) {


  #navbar-top,
  #CollapsingNavbar,
  .container {
    padding: 0;
    margin-left: 24px;
    margin-right: 24px;
  }

  #navbar-main {
    padding-left: 26px;
    padding-right: 26px;

  }
}

@media (min-width: 576px) {

  #navbar-top,
  #CollapsingNavbar,
  .container {
    padding: 0;
    margin-left: 24px;
    margin-right: 24px;
  }

  #navbar-main {
    padding-left: 26px;
    padding-right: 26px;
  }

  .views-col {
    padding: 2px;
  }
}

@media (min-width: 992px) {

  .container {
    padding-left: 12px;
    padding-right: 12px;
  }

  #navbar-main,
  .highlighted,
  #main-wrapper,
  #navbar-top,
  .region-featured-top,
  .featured-bottom {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-brand img {
    padding-left: 26px;
  }

  .region-featured-top {}

  #CollapsingNavbar {
    margin-right: -66px;
  }

  #main {
    padding-left: -20px;
    padding-right: -20px;
  }

  .site-footer {
    height: 130px;
  }

  #extra_footer {
    background-position-y: 0;
  }

}

a,
.link {
  color: #E31837;
}

a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #E31837;
}

a:active,
.link:active {
  color: #E31837;
}

.page-item.active .page-link {
  background-color: #E31837;
  border-color: #FFF;
}

#block-york-drupal-theme-main-menu .nav-link,
#block-york-drupal-theme-main-menu .nav-link:hover,
#block-york-drupal-theme-account-menu .nav-link,
#block-york-drupal-theme-account-menu .nav-link:hover {
  color: #FFF;
}

.nav-link,
.nav-link:hover {
  color: #495057;
}

.page-link,
.page-link:hover {
  color: #E31837;
}

.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}

.btn-primary {
  background-color: #E31837;
  border-color: #E31837;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #E31837;
}



.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
  color: #fffeff;
}


/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
  margin-left: 0;
  margin-right: 20px;
}

[dir="rtl"] .color-form .form-item label {
  float: right;
}

[dir="rtl"] .color-form .color-palette .lock {
  right: -20px;
  left: 0;
}

.views-summary {
  display: inline-block;
  width: auto;
}