/**
 * @file
 * Subtheme specific CSS.
 */
@font-face {
  font-family: yorkFont;
  src: url(/themes/custom/york_drupal_theme/css/IBMPlexSans-Regular.ttf);
}

body {
  font-family: yorkFont;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
