/**
 * @file
 * Subtheme specific CSS.
 */
@font-face {
  font-family: yorkFont;
  src: url(/themes/custom/york_drupal_theme/css/IBMPlexSans-Regular.ttf);
}

body {
  font-family: yorkFont;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: #212529;
}


.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border: none;
}

#navbar-main .navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
}

#default_york_red {
  background-color: #E31837;
}

table tr th a {
  color: #E31837;
  font-weight: bolder;
}

table tr th a:hover {
  color: #8C0000;
}

thead {
  background-color: white;
  font-weight: bold;
  color: #212529;
}

tr {
  color: #212529;
  background-color: white;
}

table,
th,
td {
  border: 2px solid;
}

.box {
  border: 1px solid #ccc;
  padding: 10px;
  float: left;
  margin: 6px;
}

.box img {
  object-fit: cover;
  width: 146px;
  height: 146px;
}

.explore-col {
  padding-top: 10px;
  clear: both;
  text-align: center;
}

.sidebar h2 {
    font-weight: bold;
}

/** BOOTSTRAP 5 OVERRIDE & CUSTOM STYLES **/

.featured-collections .card-img-top {
  width: 100%;
  height: 20vh;
  object-fit: cover;
}

.featured-collections .card-title {
  font-weight: 500;
}

.highlighted #views-exposed-form-solr-search-content-page-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}

.search{
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.search input[type="text"] {
  text-indent: 25px;
  /* border: 2px solid #d6d4d4; */
  border: 2px solid #d6cfca;
  height: 50px;
}

.search input:focus{
  box-shadow: none;
  /* border: 2px solid #E31837; */
  border: 2px solid #b7aea9;
}

.search .fa-search, .search .fa-magnifying-glass {
  position: absolute;
  top: 18px;
  left: 16px;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 110px;
}

/* For mobile: */
@media only screen and (max-width: 500px) {
  .search input::placeholder {
    color: transparent;
  }
}

.block-language {
  padding-right: 5px;
}
.block-language nav {
  justify-content: right; /* right align language selection to right */
}

/** Node Details Tabs **/
/* Add spacing from social share above and footer below */
.horizontal-tabs {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Mobile collapse styles of grouping/tabs */
.horizontal-tabs details summary {
  padding: 10px;
  font-weight:bolder;
  color: #fff;
  border-bottom: 2px solid #666;
  background-color: #e31837;
}

.horizontal-tabs details summary::marker {
  font-size: 1.1rem;
}

/* Zebra background for detail rows */
details.horizontal-tabs-pane .row:nth-child(2n) {
  background: #fafafa;
}
/* Search Results node details */
#block-york-drupal-theme-content .node--type-islandora-object.node--view-mode-search-index {
  padding: 1rem;
}

/* Collection View, Service file image styling */
.node--view-mode-collection .field--type-image .field__item img {
  object-fit: cover;
  width: 400px;
  height: 300px;
  padding-top: 5px;
}
/* For mobile: */
@media only screen and (max-width: 500px) {
  .node--view-mode-collection .field--type-image .field__item img {
    height: 220px;
  }
}
/* For Tablet */
@media only screen and (min-width: 500px) and (max-width: 1080px) {
  .node--view-mode-collection .field--type-image .field__item img {
    /* min-width: 100%; */
    min-width: 680px;
    height: 350px;
  }
}