{#
/**
 * @file
 * Minimal page wrapper for oEmbed iframes.
 */
#}
<div class="oembed-page">
  <main class="container">
    <a id="main-content" tabindex="-1"></a>
    {{ page.content }}
  </main>
</div>
