.york_red {
    background-color: #e31837;
}

@font-face {
    font-family: yorkFont;
    src: url(/themes/custom/yu_branding/css/IBMPlexSans-Regular.ttf);
}

body {
    margin: 0;
    font-family: yorkFont;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
}

.menu {
    margin-left: 40px;
    margin-right: 40px;
}

.york_logo {
    width: 30px;
    background-color: white;
    padding: 2px;
}