.york_red {
    background-color: #e31837;

}

body {
    margin: 0;
}

.menu {
    margin-left: 40px;
    margin-right: 40px;
}

.yorku_logo {
    width: 30px;
    background-color: white;
    padding: 2px;
}